#instance-edit{
  position: absolute;
  top:50%;
  left: 50%;
  padding: 50px;
  padding-top: 40px;
  width: auto;
  height: auto;
  background-color: #D5DDE5;
  border-radius: 10px;
  transform: translate(-50%,-50%);
}

.right-panel {
  background-color: #343a40;
  position: fixed;
  height: 100%;
  right: 0px;
  top: 168px;
  border-top-left-radius: 5px;
  color: #DDD;
}

.ssh2{
  transition: all 0.2s;
  cursor: pointer;
}

.ssh2:hover{
  background-color: #9ea7af;
}

#main-container{
  margin-top: 10px;
  margin-left: 0px;
}

#project-data {
  margin-top: 0px;
  margin-left: 0px;
}

#project-instances-data {
  margin-top: 10px;
}

body {
  background-color: #C2CAD0;
}

.pad-proj{
  margin: 20px;
}

#project-data{
  background-color: #EBEBEB;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width:100%;
  padding: 20px;
  line-height: 30px;
  left: 0px;
}

table{
  width: 100%;
}

th {
  color: #D5DDE5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #EBEBEB;
}

tr:nth-child(odd):hover td {
  background: #4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

h1 {
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
  margin: 0;
  font-weight: 200;
  color: #454545;
}

h1 .fa-check {
  font-size: 30px;
  margin-right: 10px;
  color: #77dd77;
}

#list-list {
  width: 500px;
  margin: 0 auto 50px auto;
  padding: 50px;
  background: white;
  position: relative;
  /*box-shadow*/
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#list-list:before {
  content: "";
  position: absolute;
  z-index: -1;
  /*box-shadow*/
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  /*border-radius*/
  -webkit-border-radius: 100px / 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.list-wrap {
  display: block;
  position: relative;
  padding-left: 35px;
  /*box-shadow*/
  -webkit-box-shadow: 0 2px 0 -1px #ebebeb;
  -moz-box-shadow: 0 2px 0 -1px #ebebeb;
  box-shadow: 0 2px 0 -1px #ebebeb;
}

.list-wrap:last-of-type {
  /*box-shadow*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  top: -600px;
}

.list {
  display: inline-block;
  font-weight: 200;
  padding: 10px 5px;
  height: 37px;
  position: relative;
} 

.list:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  height: 18px;
  width: 18px;
  top: 9px;
  left: -25px;
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 2px #d8d8d8;
  -moz-box-shadow: inset 0 0 0 2px #d8d8d8;
  box-shadow: inset 0 0 0 2px #d8d8d8;
  /*transition*/
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  /*border-radius*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.list:hover:after {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 2px #949494;
  -moz-box-shadow: inset 0 0 0 2px #949494;
  box-shadow: inset 0 0 0 2px #949494;
}

.list .fa-check {
  position: absolute;
  z-index: 1;
  left: -31px;
  top: 0;
  font-size: 1px;
  line-height: 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  color: transparent;
}

:checked+.list {
  color: #77dd77;
}

:checked+.list:before {
  width: 100%;
}

:checked+.list:after {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 2px #77dd77;
  -moz-box-shadow: inset 0 0 0 2px #77dd77;
  box-shadow: inset 0 0 0 2px #77dd77;
}

:checked+.list .fa-check {
  font-size: 20px;
  line-height: 35px;
  color: #77dd77;
}

.user-li{
  text-decoration:none;
  font-size:1.5em;
  color:#DDD;
  transition: all 0.2s;
}
.user-li:hover{
  text-decoration: none;
  color: #77dd77;
}

.instance-edit-dev{
  background-color: #343a40;
  right: 0px;
  color: #DDD;
}